#div1{

	height: 50px;
	background-color: #dedede;
}

#div2{

	height: 50px;
	background-color: #32dede;
}

#div3{

	height: 450px;
	background-color: #dede32;
	z-index: 50px;
}

#div4{

	height: 50px;
	background-color: #de23de;
}
#d1{
	background-color:#282923;
	height: 50px; 
}
#di{

	height: 450px;
	background-color: #dedede;
}
#d2{
	background-color:#282923;
	height: 50px; 
}
#di1{

	height: 450px;
	background-color: #0F4571;
}